# env files
.venv
.env
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/

# Distribution / packaging
build/
dist/
app/

# IDE files
.vscode/

# secret files
issue.md
data.json
process.log
